# Archivos de configuración del sistema operativo
.DS_Store        # Para macOS
Thumbs.db        # Para Windows

# Archivos de entornos virtuales
venv/
myenv/
env/
ENV/
*.env

# Archivos y carpetas de compilación
*.pyc
*.pyo
*.pyd
__pycache__/
build/
dist/
.eggs/
*.egg-info/
*.log

# Archivos de IDEs y editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos de dependencias
*.lock

# Archivos del sistema de Windows
**/AppData/
**/ProgramData/
**/Cookies/
**/Temp/
**/Windows/
**/Documents/
**/OneDrive/
**/Favorites/
**/Links/
**/Mis documentos/
**/Music/
**/Pictures/
**/Saved Games/
**/Searches/
**/Videos/

# Archivos temporales comunes
*.bak
*.swp
*.tmp
*.swo
